[2015-10-15 15:00] alcarvalho opened #3 "Failing with wrong option"
Deliver step is failing with unrecognized option `--skip-deploy`:

Here is the complete log for the step:

[code]

[2015-10-15 15:03] viktorbenei commented on #3
Hi @alcarvalho - thanks for moving the issue here!

So, the issue seems to be that `deliver` changed the test flight submission flag syntax recently, they replaced the "don't send" option with a "do send" `--submit_for_review`. This should be fixed ASAP.

Of course, if you have the time @alcarvalho you can also fork this repo and send a Pull Request, once you tested the modifications ;) - This ste

[2015-10-17 11:34] viktorbenei commented on #3
@alcarvalho Fixed in https://github.com/bitrise-io/steps-deploy-to-itunesconnect-deliver/releases/tag/2.1.0 - please upgrade to this new version of the step and let us know if it would still not work!

[2015-10-17 11:34] #3 closed

[2016-07-21 12:43] Spence1115 opened #9 "Build aborts because iTunes Connect still processing"
Hi

We've got apps building through Bitrise using this step, but the build aborts because it sometimes hits the 45 minutes whilst waiting for iTunes Connect to finish, as sometimes that part seems to take an hour or so. The app is uploaded fine, so is there any way we could get an option that tells this step on Bitrise to not wait for iTunes Connect to say its 100% finished?

[2016-07-21 12:56] viktorbenei commented on #9
Yes, that's actually _disabled_ by default, I think you enabled it at some point, the option is: `submit_for_beta` - https://github.com/bitrise-io/steps-deploy-to-itunesconnect-deliver/blob/master/step.yml#L91

[2016-07-21 12:56] #9 closed

[2016-07-21 12:57] Spence1115 commented on #9
We've got that disabled already.

[2016-07-21 12:58] viktorbenei commented on #9
Could you please send us the full build log in email / through onsite chat?

[2016-08-17 16:54] LeBlaaanc opened #11 "Wrong apple_id use when combined with project that has existing fastlane"
When using this step combined with a project that has a `fastlane/Appfile` it seems to use the apple_id in that file instead of what is specified via the `itunescon_user` param.

[2016-08-17 16:56] viktorbenei commented on #11
could you please create a bug at https://github.com/fastlane/fastlane ? we can't fix this on our side unfortunately

[2016-08-17 16:56] viktorbenei commented on #11
`deliver`, when used without `fastlane` should ignore the `fastlane` directory, but it seems it does not

[2016-08-17 16:57] LeBlaaanc commented on #11
@viktorbenei oh I see my mistake will add it there and reference.

[2016-08-17 16:58] viktorbenei commented on #11
Thank you! :)

[2016-08-17 16:58] #11 closed

[2016-10-16 01:00] 50chickens opened #12 "clarification of submit to testflight beta options."
i think the itunes connect site has changed slightly since this code was written.

curently, on the itunes connect website (itunesconnect.apple.com), there 4 sections (app store, features, testflight, activity). the corrosponding option in steps-deploy-to-itunesconnect-deliver are 'Submit for TestFlight Beta Testing?'.

if you choose 'Submit for TestFlight Beta Testing?' then what it does it uploa

[2016-10-16 06:39] viktorbenei commented on #12
Thanks for reporting, we'll push an update for the step next week! ;)

[2016-11-01 21:59] suzhaev opened #13 "Failed build when 2fa enabled"
I enabled 2FA for my iTunes Connect account. Are bitrise support it?

I tired deliver build to iTunes Connect, but it failed

[code]

[2016-11-01 23:56] bitwit opened #14 "Fails to upload TVOS builds"
It appears that the parameters provided during upload to the Apple APIs must be implying that the build is for an iOS app.

I recently tried to make a TVOS upload and got `The version number has been previously used.` as a failure reason. This would only be true if it were comparing against the iOS version/build number though.

[2016-11-02 06:00] viktorbenei commented on #13
AFAIK neither `deliver` nor Shenzhen support 2FA

You should report this on their GitHub page (https://github.com/fastlane/fastlane/tree/master/deliver), once it's supported by `deliver` it will work with this step too (as this step is built on top of `deliver`).

[2016-11-02 06:00] viktorbenei commented on #13
Or, alternatively, use a "CI" iTunes Connect account where you don't enable 2FA. You'd use this account for nothing else, just for uploads.

[2016-11-02 06:01] #13 closed

[2016-11-02 06:03] viktorbenei commented on #14
You should report this on `deliver`'s GitHub (https://github.com/fastlane/fastlane/tree/master/deliver) - this step is just a thin wrapper around `deliver`, it just passes the IPA path and auth infos to `deliver`, after that the actual uploading is done by `deliver`.

[2016-11-02 06:03] #14 closed

[2016-11-24 11:36] godrei commented on #12
Hi @50chickens thanks for the report. The new version [2.6.3](https://github.com/bitrise-io/steps-deploy-to-itunesconnect-deliver/releases/tag/2.6.3) contains description updates.

[2016-11-24 11:36] #12 closed

[2017-06-26 03:51] Shinichi52 opened #24 "Update fastlane Failed"
Hi,
Last weekend, I'm build successful. But in this morning i tried build, it's failed with alert error:

Setup
fastlane already installed
updating fastlane...
Failed to install 'fastlane', error: Gem update failed, error: exit status 1
|                                                                              |
+---+---------------------------------------------------------------+----------+
|

[2017-06-26 05:28] viktorbenei commented on #24
Did you try a rebuild? It seems to be a temporary network issue, most likely on the Ruby gems server side

[2017-06-26 10:49] viktorbenei commented on #24
I think the best we could do is adding a re-try mechanism here, so that if the Ruby GEMs server has only a very short issue a second attempt might be successful. Added to backlog.

[2017-06-26 14:14] Shinichi52 commented on #24
Hi,
Thanks for fast supported. I tried re-build about 3-5 times in this day. but it's failed with the same error (I builded it at locally). Are you have solution for me?

[2017-06-26 14:15] viktorbenei commented on #24
Can you please send us the build's bitrise.io url? Feel free to send it in email or through the onsite chat

[2017-06-26 14:21] Shinichi52 commented on #24
I built it at locally with bitrise-cli and this is my project at bitrise.io https://www.bitrise.io/app/41335a3ce50b7dc4#/builds

[2017-06-26 15:08] Shinichi52 commented on #24
Hi. I updated manual fastlane and it's working now. Thanks for supported :)

[2017-06-26 15:08] #24 closed

[2017-06-26 15:13] viktorbenei commented on #24
Any time ;)

May I ask what you changed/did? Might help others, as well as us (built in support or better log etc)

[2017-06-27 02:49] Shinichi52 commented on #24
i fixed it with command: sudo gem install -n /usr/local/bin fastlane

[2017-06-29 18:52] viktorbenei commented on #24
Makes sense, thanks for the info @Shinichi52 ! :)

If I might ask, did you do that (the fix) locally on your Mac, or on Bitrise.io?

[2017-07-03 04:59] Shinichi52 commented on #24
i fixed on my Mac :)

[2017-07-03 11:33] viktorbenei commented on #24
Makes sense, thanks @Shinichi52 ! :)

[2017-07-04 02:19] Shinichi52 commented on #24
Hi, Can you add configure for upgrade fastlane. Example: if I don't want automatic upgrade fastlane can set false? I always have to manually upgrade when fastlane has new release.
Thank you very much :)

[2017-07-04 09:27] viktorbenei commented on #24
Use the **Update deliver gem** (`update_deliver `) option of the step (https://github.com/bitrise-io/steps-deploy-to-itunesconnect-deliver/blob/master/step.yml#L170). If that's enabled the step will always try to upgrade `fastlane` before running.

[2017-07-05 01:50] Shinichi52 commented on #24
thank you :)

[2017-09-18 22:25] justinvallely opened #26 "Upload to iTunesConnect Fails: Invalid characters in .ipa file name"
Looks to be related to [this.](https://github.com/fastlane/fastlane/issues/10327)

Deliver appends SHA256 to the original ipa name and copies it to transporter package. The resulting name of the file will be "ORIGINAL_IPA_NAME(SHA256).ipa". Parenthesis are not allowed in the .ipa file name.

`The valid characters are: A-Z, a-z, 0-9, dash, period, underscore, but the name cannot start with a dash,

[2017-09-19 10:17] trapacska commented on #26
Hey @justinvallely ! 👋

Thank you for the report, we've started to investigate the issue.

[2017-09-19 10:58] trapacska commented on #26
Hey!

Thank you for reporting the issue!

It is already fixed: https://github.com/fastlane/fastlane/releases/tag/2.57.1
(this step always automatically updates fastlane to the latest)

I am closing the issue now but feel free to re-open if you encounter the issue again!
🎉🚀

[2017-09-19 10:58] #26 closed

[2017-09-19 16:56] taxomania commented on #26
Hey guys, thanks for the above fix. Unfortunately it appears to continue breaking builds containing spaces in the IPA filename eg `"ORIGINAL IPA NAME.ipa"` :(

[2017-09-19 17:55] viktorbenei commented on #26
@taxomania can you please create a new issue report with the logs?

[2017-09-19 18:11] zackd commented on #26
@viktorbenei https://discuss.bitrise.io/t/upload-to-itunesconnect-fails/2752

[2017-10-25 15:21] fwigorcferreira opened #30 "Steps fails with response [Transporter Error Output]: description length:8507128"
When trying to upload an item to iTunes connect, the upload fails with the message ` [Transporter Error Output]: description length:8507128` but the error do not stop the build, requiring the developer to manually abort it.

What is the real error reason?

And, how to stop the step after the error?

More details:

[code]

[2017-10-26 11:34] doomsayer13 commented on #30
Thanks for reporting.

[2017-10-26 16:10] davidchristiandy opened #31 "Deliver's submit_for_review is for app review, not for beta review"
I noticed the "Submit for TestFlight External Testing" in `main.go` adds the flag `--submit_for_review`.

AFAIK, Deliver's `--submit_for_review` flag will submit the app for appstore review (i.e. not for beta review or external testing).

Some ideas to fix this:
- I think we can simply change copy from "Submit for TestFlight External Testing" to "Submit for Review" (and also the description text).

[2017-10-27 08:45] doomsayer13 commented on #31
Thanks for reporting.

[2017-10-27 08:55] davidchristiandy commented on #31
Sure, @doomsayer13. Anyways, what do you think on this problem? I might have some time this weekend to work on this issue. Any comments on my proposed ideas, before I start hacking?

[2017-10-30 13:51] #31 closed

[2017-10-30 16:36] mooshee commented on #30
Bump.  Seeing the same issue.
[code]

[2017-11-08 14:35] che1404 commented on #30
Hi. Same here.

[2017-11-08 18:34] viktorbenei commented on #30
This error comes from fastlane/deliver. From the error message it seams that the issue is most likely related to the length of the release notes (set on iTunes Connect).

Please also link your related bitrise.io build URL as we'd need the full log (at least the step's) to be able to provide more help. Additionally if you have some time please create an issue report on fastlane's tracker as the err

[2017-11-22 20:10] sirioz commented on #30
The error is only on bitrise. The same fastlane configuration in local is working without any error.

[2017-11-23 01:37] deepeeess commented on #30
I get this issue using Fastlane without bitrise.

[2017-11-23 12:06] viktorbenei commented on #30
@deepeeess did you report it on fastlane's github?

[2017-11-23 12:10] viktorbenei commented on #30
@sirioz please contact our support via email or through the onsite chat, we'll need the full build log for that. Please also include which version of fastlane you used on your Mac, so that we can debug it and help you as fast as possible :)

[2017-11-24 18:49] deepeeess commented on #30
@viktorbenei thank you for your support - the way I resolved this issue was to configure `ENV["DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS"] = "-t DAV"` in my fastfile as specified in the [documentation for pilot](https://docs.fastlane.tools/actions/pilot/).  A brief inspection of the `--verbose` output was enough to determine there was some problem with the networking.  I'm surprised thi

[2017-12-06 15:09] joeltrewlush opened #33 "2FA Support via Apple developer connected account"
Bitrise's new ios-auto-provisoning step uses a connected apple developer account to create/access the required provisioning profiles when signing a build, when connecting an account 2FA details are saved and handled by bitrise. Is it possible for this step to use the same connected account information to bypass 2FA in a similar way? It should be noted that any new Apple accounts cannot turn off 2F

[2017-12-07 18:51] BerniWittmann commented on #33
I also have issues with 2FA. As a solution to 2FA Apple has `Application specific password` (You can generate them on [AppleID Homepage](https://appleid.apple.com).

The problem I'm having is that the authentication with itunes connect does not work, when using the application specific password. Fastlane has an env variable for this: `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD` (Also see the [FA

[2017-12-08 14:44] viktorbenei commented on #33
Awesome idea and thanks for the PR @BerniWittmann ! I added a comment to the PR and the tooling team will also review the PR ASAP! :)

[2018-01-12 12:32] #33 closed

[2018-01-19 17:40] Panda-ref opened #37 "Password/AppPassword required?"
Hi there. Need your help.
According to https://support.apple.com/en-us/HT204397, paragraph

The whole idea of using app-specific passwords is to ensure you are not revealing your apple id password.

It seems to me that Password field shouldn't be required in case you use AppPassword, but now it has this `input.ValidateIfNotEmpty` check that fails the build. My thoughts are that one of Password/App

[2018-01-24 14:40] godrei commented on #37
Hi @Panda-ref ,

thanks for the report of the log.Printf nesting.

Regarding to your App-specific password question: before i merged the PR which added this feature i tested the step and it seemed both passwords are required in case of two factor auth. The step prints the deliver command which being called, you can use that command to test it. Please let me know if you are able to use the deliver

[2018-01-26 08:57] godrei commented on #37
I'll close this issue, but if you need more info/help just let us know and we'll reopen it!

[2018-01-26 08:57] #37 closed

[2018-03-01 17:32] #30 closed

[2018-03-20 14:14] rmevans9 opened #41 "Add ability to set a working directory"
Most other steps allow you to specify a working directory which works really well when your repository has a few different folders for different things (mobile app, .net core app, etc). This particular step does not expose the ability to set the working directory which is problematic if your `fastlane` folder is not at the root level of the repository. It would be great if this step allowed settin

[2018-03-24 18:24] kristallvic commented on #37
We also have that problem. In case the password is set - step fails on 2FA.

[2018-03-26 11:15] viktorbenei commented on #37
Hi @kristallvic can you please create a separate issue? Please also include the build URL, so that we can check the config & the logs!

[2018-03-28 14:31] intonarumori opened #43 "Deploying only to Testflight"
I get the following error using this step:
[code]

I only have developer permissions on iTunesConnect, but I'm able to deliver Testflight builds with Application Loader.

After searching around I found this issue:
https://github.com/fastlane/fastlane/issues/11079
It seems like Fastlane has a separate lane for Testflight builds.

Is there any way to set up this step to work as Application Loader?

[2018-03-28 15:43] viktorbenei commented on #43
Hi @intonarumori ,

Thanks for creating this issue / feature request!

No, right now this is the only step developed & maintained by us for uploading into TestFlight.

We'll bring this up for a discussion to have an option to not require admin rights. In the meantime a workaround can be to use a Script step and run the `testflight` fastlane action from the Script.

If you'd have any questions just

[2018-03-29 12:08] intonarumori commented on #43
@viktorbenei Thanks for the reply.

Here's the side story: I'm running Bitrise for my personal projects and find it fairly easy to setup.
However, when I work on a client project and want to introduce CI, they usually don't see the immediate benefit and I have to convince them. When it just works out of the box it's fairly easy, because I don't have to spend their money and resources on something

[2018-03-29 12:15] viktorbenei commented on #43
Thanks again for the feedback @intonarumori ! Don't get me wrong, we definitely will discuss this scenario with the team at the next sprint planning! Can't promise any delivery date because we'll have to discuss this first & see when we could fit it into our schedule. We have tons of things we're working on, have to prioritize things :)

[2018-04-12 09:47] yadits opened #45 "Deploy Error - Your Apple ID account is attached to other iTunes providers"
I get an error on “Your Apple ID account is attached to other iTunes providers. You will need to specify which provider you intend to submit content to by using the -itc_provider command. Please contact us if you have questions or need help. (1627)”.
I don’t understand at all.

I added Team ID and Team Name. In Application Loader it works perfectly. Please help!

[2018-04-13 11:49] viktorbenei commented on #45
Hi @yadits ,

This seems to be a duplicate of https://discuss.bitrise.io/t/deploy-to-itunes-connect-error/4774

I'll close this here, please contribute to the discussion at https://discuss.bitrise.io/t/deploy-to-itunes-connect-error/4774 ! Thanks and Happy Building! :)

[2018-04-13 12:04] viktorbenei commented on #43
@intonarumori from a related discussion it seems we might already have a tool for you, which right now is in "deprecated" status but we can remove that. The step I'm referring to is the "Shenzhen" version of this step: https://github.com/bitrise-io/steps-deploy-to-itunesconnect-shenzhen

Did you try that? If not yet, can you try it? It uses Application Launcher which should support uploading the b

[2018-04-14 11:15] yadits commented on #45
Why did you close this? I'm am the one who opened the discussion in Bitrise and was told to open an issue here. I know that that I'm not using the same username - since it was already taken.
Anyway, I need an answer this still doesn't work!

[2018-04-16 13:14] godrei commented on #45
Hi @yadits ,
sorry for the inconveniences!
Could you please have a look at my answer on discuss: https://discuss.bitrise.io/t/deploy-to-itunes-connect-error/4774/11?u=godreikrisztian

[2018-04-16 13:16] yadits commented on #45
It works, thanks a lot. I needed to write --itc_provider TEAM_ID

[2018-04-16 15:05] viktorbenei commented on #45
Thanks for reporting @yadits ! :)

[2018-04-20 16:14] viktorbenei commented on #43
Hi,

Switch to `bitrise.yml` mode/tab in the workflow editor and add this step there:

[code]

Of course you're free to go with another service, although worth to note that CircleCI does not have any built in feature to deploy to the appstores. You'll have to use a 3rd party tool like fastlane which you can use the exact same way on bitrise.io

[2018-04-22 08:33] intonarumori commented on #43
Let me remind you guys on your own mission statement:

So does hacking a `yml` file just to get a very basic use case covered align with this? I don't think so.

[2018-04-24 14:42] viktorbenei commented on #43
Hi @intonarumori ,

I think "configure the automation once, then just forget about it" is definitely in line with our mission statement. Yes, in this case it might include a small YML tweak, but the point is still the same: once it's configured it will let you concentrate on the process of innovation instead of doing these tasks manually every time.

Adding that "hidden" step I mentioned should wo

[2018-04-24 14:46] viktorbenei commented on #43
Note: if you're interested you can find the related docs about how steps can be referenced in the config here: https://devcenter.bitrise.io/bitrise-cli/steps/#step-referenceid-format

The git one can be found in this sub-section: https://devcenter.bitrise.io/bitrise-cli/steps/#special-step-sources -- it basically defines a git repository to be used as the source, instead of the primary steplib.

[2018-04-24 15:02] intonarumori commented on #43
I beg to differ, it's a manual step and completely negates the usefulness of your fancy workflow editor.

If I understand you correctly I should test it for you then when it works subscribe?
This is ridiculous.

Who cares that it's a maintenance cost for you, that's what you get paid for in the for of subscription fees, right?

If you don't know anybody who would need this step then you guys are s

[2018-04-24 15:11] viktorbenei commented on #43
It's scheduled for a discussion anyway, but if you confirm that step is indeed what you're looking for that would bump this task's priority.

Do you have an active subscription on bitrise.io? If you do that bumps its priority, otherwise we have to consider the priority based on our paying customers' needs.

[2018-04-24 15:49] intonarumori commented on #43
Again please let me know if you have a step out of the box within your workflow editor.

I'm pretty sure if you put the same amount of time into creating the step for us you would not only help a lot of freelancers and make your product easier to use, but you would also proove your workflow editor is super easy to integrate with.

You did none of these.

[2018-04-24 15:51] intonarumori commented on #43
@viktorbenei I put at least 5 previous clients on Bitrise including some big names.

I think I was clear in my first post what we need.

[2018-04-24 15:56] intonarumori commented on #43
And again since Apple has a separate tool for doing exactly what we need (Application loader) how any CI company thinks it's an unessential feature to provide out of the box with an easy UI is still beyond me.

[2018-05-23 07:24] Dschee opened #46 "Upload not working due to old fastlane tool"
We are currently receiving errors when trying to upload builds using this step since it uses an old version of Fastlane and Apple changed something. See https://github.com/fastlane/fastlane/issues/12577 for details. There's a fix though in the newest release [2.96.0](https://github.com/fastlane/fastlane/releases), could you please update this to the latest version of fastlane?

[2018-05-23 10:46] trapacska commented on #46
Hey @Dschee !

The step uses the version you've set. Set the desired version in the `fastlane_version` or leave latest of you want that. It should do the trick. Please let me know if it helps.

[2018-05-23 10:49] trapacska commented on #45
Thanks for the info!

Just closing this issue as it is resolved now. Feel free to open a new issue if you still encounter any issues!

[2018-05-23 10:49] #45 closed

[2018-05-23 12:00] joshdholtz commented on #46
Heyyyyy 👋 Version `2.96.0` doesn't _technically_ fix the problem but only shows a prettier error for the solution 🙃 Older versions of _fastlane_ should still work but you just need to do this step - https://github.com/fastlane/fastlane/issues/12577#issuecomment-390811299 (this is what `2.96.0` informs users of)

[2018-05-23 12:20] Dschee commented on #46
Cool thanks, didn't know one could specify a specific version. I'd like to specify something like `latest` though, which I did by manually adding a script that runs `gem install fastlane` before the deploy step. That's working like expected.

And while you @joshdholtz are of course technically right, I'd like to disagree: It *does* fix the problem since my CI is now telling me how I can fix it whi

[2018-06-05 09:25] Gregoirevda opened #48 "Could not find a version to edit for app 'AppName'"
We didn't changed our build settings and this error
`[!] Could not find a version to edit for app 'AppName'`
appeared since yesterday.

Can this be related to the recent update to itunesconnect?
Is this related to fastlane or this tool?

itunesconnect deliver: `2.11.0`
fastlane: `2.97.0`
deliver 2.96.1 Summary

[2018-06-06 13:10] godrei commented on #48
Hi @Gregoirevda ,
without the build log its hard to identify the issue.
However it seems Fastlane has a similar issue: https://github.com/fastlane/fastlane/issues/1517,
it seems defining the `app_version` input on deliver solves the issue. This input of deliver is not wired in as a step input, but the step has an input: `Additional options for `deliver` call` which you can use to define this optio

[2018-06-06 17:25] #48 closed, assigned to nobody

[2018-06-11 09:22] trapacska commented on #46
Thanks @Dschee for getting back. Also @joshdholtz and @viktorbenei for the info.

Closing this issue now as it seems not to be an exact issue with the step itself. Feel free to re-open if you still encounter issues regarding to the step.

[2018-06-11 09:22] #46 closed

[2018-06-11 13:31] Sajjon commented on #30
Using Bundler with fastlane `2.97.0`, I too get error `[Transporter Error Output]: description length:4443917`

[2018-06-11 22:18] ddsky commented on #30
seeing the same with "latest" version of fastlane and the default -t DAV. Build hangs forever.

[2018-06-18 13:50] viktorbenei commented on #30
@Sajjon @ddsky can you please create an issue report at https://discuss.bitrise.io/c/issues/build-issues ? Without those information requested there it's really hard to help.

Locking this thread as it was already closed and not monitored - if you still have an issue please create an issue report at https://discuss.bitrise.io/c/issues/build-issues ! Thank you! :)

[2018-06-19 10:08] viktorbenei commented on #30
An alternative solution, if you don't need the extra `deliver` features: use our **Deploy to iTunes Connect - Application Loader** (https://github.com/bitrise-steplib/steps-deploy-to-itunesconnect-application-loader) step instead of the deliver one. That uses only official Apple/Xcode tools for the upload.

[2018-07-27 09:17] Gregoirevda commented on #48
Note that this doesn't occur if you set `skip_app_version_update ` to false

[2018-08-30 10:49] hantran-yamaneco opened #53 "Spaceship::UnexpectedResponse"
It's really weird that I got below messages when trying to deploy out tvOS app to TestFlight, it work fine with my local (Archive and Upload from xCode).

`
[02:14:53]: Get started using a Gemfile for fastlane https://docs.fastlane.tools/getting-started/ios/setup/#use-a-gemfile
[02:14:53]: Sending anonymous analytics information
[02:14:53]: Learn more at https://docs.fastlane.tools/#metrics
[02:14

[2018-08-31 13:06] EgzonArifi commented on #53
Hi @hantran-yamaneco , which version are you using?
Try to update to latest version 2.14.1

[2018-09-03 01:06] hantran-yamaneco commented on #53
I'm using the latest version but now it's not happening again (I don't know why). I'm going to close this issue.

[2018-09-03 01:06] #53 closed

[2018-09-06 01:14] arash01 commented on #37
Why would you guys close this important issue without any solution?!
We have the same problem..

[2018-09-06 14:11] viktorbenei commented on #37
@arash01 as mentioned previously, please create a new ticket explaining the issue you face, preferably by creating it at https://discuss.bitrise.io/c/issues/build-issues and filling out the template there.

[2018-09-06 14:12] viktorbenei commented on #37
We need those additional information / context to be able to help efficiently :)

[2018-09-06 14:14] viktorbenei commented on #37
@arash01 alternatively, as @kristallvic mentioned you can switch to another step which uses Xcode tools directly (I'd suggest our **Deploy to iTunes Connect - Application Loader** step - https://www.bitrise.io/integrations/steps/deploy-to-itunesconnect-application-loader ). This step uses `deliver` which is maintained by https://fastlane.tools

[2018-09-10 14:20] toineheuvelmans opened #54 "Password property is overridden by FASTLANE_PASSWORD"
I have a setup for deploying an iOS app in which at an early point I run a fastlane lane for code signing (which utilizes `match`). The password for `match` (I use `FASTLANE_PASSWORD`) is set in the secret env variables section.
Later on in the workflow the `steps-deploy-to-itunesconnect-deliver` step is used, in which I had specified the Password to be used using another secret env variable. **Th

[2018-09-17 13:41] BirmacherAkos commented on #54
Hi!

Since the v2.14.1 the password input is sensitive (need to be a secret)
[compare/2.13.1...2.14.1](https://github.com/bitrise-io/steps-deploy-to-itunesconnect-deliver/compare/2.13.1...2.14.1#diff-91d8d269a1c9bd3631ddb04b80b01c4eR73)

This could cause the problem.

[2018-09-18 08:27] toineheuvelmans commented on #54
Hi @BirmacherAkos, thanks for your reply, though I don't believe it applies to my situation, as I have both passwords already configured as secret.

[2018-09-24 14:41] godrei commented on #54
Hi @toineheuvelmans could you please share your failed build url?

[2018-10-01 08:40] toineheuvelmans commented on #54
@godrei https://app.bitrise.io/build/db3fac4e3cbc95a2

[2018-10-15 11:43] godrei commented on #54
Hi, the thing is that the step sets the provided password as an env var for the deliver command call: https://github.com/bitrise-io/steps-deploy-to-itunesconnect-deliver/blob/master/main.go#L369 (it sets the `DELIVER_PASSWORD` env).

But it seems Fastlane prefers the `FASTLANE_PASSWORD` over `DELIVER_PASSWORD`: https://github.com/fastlane/fastlane/blob/master/credentials_manager/lib/credentials_ma

[2018-10-15 20:49] ifnull opened #55 "Team Name and ID description mismatch"
It appears the descriptions for these two fields have been flipped.

<img width="910" alt="screen shot 2018-10-15 at 1 46 55 pm" src="https://user-images.githubusercontent.com/1395765/46977405-fa634080-d080-11e8-84ab-474431c44c32.png">

https://github.com/bitrise-io/steps-deploy-to-itunesconnect-deliver/blob/master/step.yml#L85-L100

[2018-10-15 20:58] ifnull commented on #55
Nevermind. I'm dumb.

[2018-10-15 20:58] #55 closed

[2018-11-18 03:07] davidseek opened #57 "Getting: Issue with input: no IpaPath nor PkgPath parameter specified"
<img width="753" alt="screen shot 2018-11-17 at 7 06 34 pm" src="https://user-images.githubusercontent.com/17073950/48668174-fcfbf000-ea9b-11e8-9bc4-9849e6ac4398.png">

I'm not exactly sure what to do as those parameters seem
to be put in place by the step?

<img width="419" alt="screen shot 2018-11-17 at 7 06 41 pm" src="https://user-images.githubusercontent.com/17073950/48668176-038a6780-ea9c-11

[2018-11-19 15:52] davidseek commented on #57
Hey @bitce

does not look like they are set.
I would also not know right now what the expected values would be?
Is there a documentation for that specific part?

Thank you for your time.

[2018-11-19 15:59] davidseek commented on #57
[This thread](https://stackoverflow.com/questions/33934614/bitrise-default-environment-variables) brought me to the fact that I needed to include the step `Xcode Archive & Export for iOS` into the workflow. One might say logically, but I expected this to be automatic when including a step that uploads to the store. Running the build right now. Will let you know if this fixed the issue.

[2018-11-19 17:48] viktorbenei commented on #37
Glad to hear @seanperez29 ! 😉

[2018-11-20 08:15] bitce commented on #57
Oh, I see. How did it go? :) For future reference, when in doubt, please check out our DevCenter, we have a bunch of very nice detailed articles to help you get started, e.g. https://devcenter.bitrise.io/deploy/ios-deploy/deploying-an-ios-app-to-itunes-connect/

[2018-11-20 16:45] davidseek commented on #57
Yeah. Talking to you on the customer chat now to solve this :)

[2018-11-20 16:45] #57 closed

[2018-12-27 02:34] jjblumenfeld commented on #37
Hi,
Are there any differences in functionality between the 2 steps?
`Deploy to iTunes Connect - Application Loader` vs. `Deploy to iTunes Connect with Deliver`

[2019-01-02 12:55] fehersanyi-bitrise commented on #37
Hy @jjblumenfeld
the first one deploys to testflight the later is to the app store and asks for review.

[2019-01-22 21:53] mqln commented on #33
Hello! Where are we at on this?

I'm afraid I broke my entire workflow up upgrading to 2FA auth...

[2019-01-24 09:51] kasl opened #58 "How to upload metadata and screenshots to a new release"
I could not find a detailed description or articles on this topic. And in the settings of this step, I see only two parameters, `skip metadata` and `skip screenshots`, but how to use them is not clear. What is the format of this data? Where to download?

[2019-01-25 10:46] fehersanyi-bitrise commented on #33
Hello @mqln!

did you connect your apple account to bitrise on the account settings tab? it pops up a 6 digit code that you enter there and you are good to go in regards of 2fa.

[2019-01-30 15:12] kasl commented on #58
Ok. I found docs here https://docs.fastlane.tools/actions/deliver/

[2019-01-30 15:12] #58 closed

[2019-02-04 11:08] ruipfcosta opened #59 "Phased release not being set on App Store Connect"
I recently added the option to use phased release when submitting my app to App Store Connect, however that option never gets set on App Store Connect, which just looks like this:

<img width="1161" alt="screenshot 2019-02-04 at 10 59 30" src="https://user-images.githubusercontent.com/1910006/52204471-1ecf6c80-286c-11e9-98b2-b370c5da3570.png">

#### Command executed

fastlane "deliver" "--username

[2019-02-05 11:46] bitce commented on #59
Hi @ruipfcosta! Could you send us a build URL of this scenario?

[2019-03-04 12:26] philipp-serfling commented on #43
Are there any news on the topic?

We are using Bitrise and it would be really helpful to deploy the testing version of the app only to testflight.

[2019-03-05 10:19] fehersanyi-bitrise commented on #43
Hello there @philipp-serfling

the deliver step crashed due to the 2fa enforcement, and for it is only a fastlane wrapper, we can't do much about it, and the official Apple API is still not out.
Currently you can use the `Deploy to iTunes Connect - Application Loader` step. 🙃

[2019-03-05 13:03] philipp-serfling commented on #43
Thx for the quick answer, but the `Deploy to iTunes Connect - Application Loader` step is not able to automatically release the version for external testers after the build was pushed to testflight.

My current workaround is to use a Script step in Bitrise and use fastlane testflight for it.

For whom it might help:
[code]

[2019-03-05 13:43] fehersanyi-bitrise commented on #43
Thanks @philipp-serfling for sharing your workaround!

[2019-03-08 16:54] Tallyb commented on #37
Application loader only uploads the app. I believe deliver is also creating a new version for submission, as well as upload screenshots and metadata.
We also have the problem with running deliver when the account has 2FA.

[2019-03-11 18:52] fehersanyi-bitrise commented on #37
Hello @Tallyb

the issue with the deliver step is that it is secretly (like in scooby doo) a fastlane deliver lane.
and unfortunately they we not yet able to overcome the 2fa enforcement so that step is currently broken 😕 and because there is no official API solution to do this, we kind of depending on them, well at least there is no point writing the exact same code for the same usage twice. Unti

[2019-03-13 18:58] Tallyb commented on #37
It seems weird, as deliver can skip 2fa with app specific password, no?
Seems that the issue is that app specific password is not overriding
password as it is in the apploader deliver.

On Mon, Mar 11, 2019, 20:52 Sandor Feher <notifications@github.com> wrote:

[2019-03-18 09:30] fehersanyi-bitrise commented on #37
Hy @Tallyb as far as we know, currently you need both passwords in the step for it to work properly, and right now, a tooling engineer is working on it so there will be an update on the step this week if everything goes well.

[2019-04-30 12:39] mackoj commented on #43
I didn't worked for me :(

Since `Deploy to iTunes Connect` use Fastlane underneath it can use properly my credentials how to share my credentials with my own Fastlane lane ? @fehersanyi-bitrise

[2019-04-30 12:43] fehersanyi-bitrise commented on #43
Hy @mackoj in your fastlane lane I guess you set these credentials with environment variables, you could set up those in the env var or secrets tab and run the lane, it will find the credentials in the os.

[2019-04-30 12:45] mackoj commented on #43
I tried to add a script execution juste before with
[code]

And it does not work.

[2019-04-30 12:47] fehersanyi-bitrise commented on #43
🤔 Could you send me one of these build's url please?

[2019-04-30 13:14] mackoj commented on #43
My bad @fehersanyi-bitrise it fail only on local on remote it's working

[2019-07-18 22:05] pwoods-al opened #65 "gem install fails trying to install bundler when ensuring fastlane version"
step version: 2.16.0

We seem to be hitting a new issue with ensuring the fastlane version: `"bundle" from bundler conflicts with /Users/vagrant/.rbenv/versions/2.5.3/bin/bundle, error: exit status 1`

We have used the step successfully in the past, as part of retooling some of our workflows over the past few days I updated the step to the latest version, so I'm not sure if something else changed

[2019-07-19 09:13] bitce commented on #65
Hi @pwoods-al!

Thanks for your report! We started looking into this, in the while you could solve this by inserting a script step right before the deploy one, with the following input:

[code]

[2019-08-15 14:28] richard-bogdan-bitrise commented on #54
Hi @toineheuvelmans, thank you for your patience. We updated the code, please check that if the newest release solves your problem (https://github.com/bitrise-steplib/steps-deploy-to-itunesconnect-deliver/releases/tag/2.16.2).
I am closing this issue now, if the issue still persists please feel free to raise a new issue.

[2019-08-15 14:28] #54 closed

[2019-08-23 08:55] FinHorsley opened #68 "FASTLANE_SESSION env var exposed"
My Go isn't great, but it looks like there is a `FASTLANE_SESSION` env var exposed by the step?
[code]

Should this be available in the Bitrise Editor, instead of `No output variables generated by this step`

[2019-09-05 16:36] CHOIMINSEOK opened #69 "How to add Release Note?"
I couldn't find out on docs.
pls give me reference or guide. thanks!

[2019-09-06 02:03] bitce commented on #69
The step has this input field, called “options” (https://github.com/bitrise-steplib/steps-deploy-to-itunesconnect-deliver/blob/master/step.yml#L172). With this you can pass extra data to the deliver command through the yml

[2019-09-09 14:14] CHOIMINSEOK commented on #69
Thanks!

I tried to pass extra options `-m upload -f ./.itmsp/ -v eXtreme -t Aspera`, but the connection is failure.
[code]

Seems nothing wrong on parameter for iTMSTransporter.
Any help for me? ;(

Here is build url!
https://app.bitrise.io/build/a20c3001a589d3de#?tab=log

[2019-09-10 06:46] CHOIMINSEOK opened #70 "What is default value of IDFA setting for Review Submit?"
I cannot find any regarding options.

[2019-09-10 07:54] CHOIMINSEOK commented on #69
I Found it. Referring fastlane docs is really helpful for me.

[2019-09-10 07:54] #69 closed

[2019-09-13 08:59] Roland-Bak commented on #70
Hi there @CHOIMINSEOK!

Since the IDFA is a unique ID for each iOS device, this is not something that would have a default value when submitting your build. This is something that is set in your project 🙂

[2019-09-16 04:51] CHOIMINSEOK commented on #70
Thank you for response! :)
you mean, this configuration could be done in my project? @Roland-Bak

![image](https://user-images.githubusercontent.com/20822017/64934938-e162a100-d888-11e9-8d29-6b1694c0662d.png)

[2019-09-23 07:23] bitce commented on #70
Hi @CHOIMINSEOK,

According to our research, yes, that is the case. Specifically in your fastfile: https://docs.fastlane.tools/actions/appstore/#compliance-and-idfa-settings

[2019-09-24 06:12] CHOIMINSEOK commented on #70
Hmm, I checked that documents but little bit confused.

How do I use submission_information parameter in `Bitrise` Console?

[2019-09-24 06:58] CHOIMINSEOK commented on #70
힘든 싸움이었다..

[2019-10-17 02:45] CHOIMINSEOK commented on #70
Any update for it? @bitce @Roland-Bak

[2019-10-22 12:59] Roland-Bak commented on #70
Hey there 👋

Sorry for the late reply. Here is an example where you can see how this parameter should be used: https://github.com/artsy/eigen/blob/faa02e2746194d8d7c11899474de9c517435eca4/fastlane/Fastfile#L131-L149

Hope this helps!

[2019-10-23 22:34] hkellaway opened #73 "Rebrand to "App Store Connect" from "iTunes Connect""
It took me a minute to find this step due to the name. This step could be more discoverable if it was to use the same terms as Apple - namely, they rebranded `iTunes Connect` to `App Store Connect`. This would be especially helpful for newer folks unfamiliar with the former name.

[2019-11-07 17:45] ios-dev-drivingthru commented on #65
Hey @bitce -

I encountered this issue and tried adding the script, but am still encountering the same error. Any thoughts? Here's a screenshot of my workflow. Thank You!
<img width="1144" alt="Screen Shot 2019-11-07 at 9 44 17 AM" src="https://user-images.githubusercontent.com/57416523/68413569-5a70cd00-0143-11ea-8860-bd79b3472d6a.png">

[2019-11-12 00:11] brandtdaniels opened #75 "Release notes did not get uploaded to TestFlight"
Using the command `--release_notes "${CHANGELOG}"` in the options for deliver field, the release notes were printed in the bitrise console during the build, but did not end up appearing in TestFlight when the build was ready to test.

[2019-12-03 12:14] lpusok commented on #65
Hi @ios-dev-drivingthru, @pwoods-al,
Can you try `gem uninstall bundler -a` in a script step before the deploy-to-itunesconnect-deliver step?
If that does not work out please send over the build URL you experienced the issue.

[2019-12-04 02:34] vfxdrummer commented on #65
Hi Ipusok - I apologize, I must have solved this issue as our CI is now properly working, but do not remember what fixed it. I feel bad, I should have responded to this comment. My apologies.

[2019-12-05 12:56] Roland-Bak commented on #65
Hey @vfxdrummer, no worries, the point is that everything is working correctly now :)

[2019-12-07 12:30] bitce commented on #75
Hey @brandtdaniels!

Can you please include a build URL we could check out? 🙂

[2019-12-11 11:42] bitce commented on #73
Hi @hkellaway!

Thank you for raising this thread despite our awfully long delay in addressing it.

This is true, the reason we have not done this so far is that we've felt this could be just as confusing to older folks, only familiar with the former name and could cause some people difficulty locating the step.

That said we're looking into making this in the near future, in a way that's as clear

[2019-12-11 12:08] hkellaway commented on #73
gotcha - thanks for elaborating

[2019-12-11 12:08] #73 closed

[2020-02-28 23:31] rickmanelius commented on #75
For us this happened with build 1945 https://app.bitrise.io/build/85fe4d69c791a107#?tab=log. We can see the "delivery summary" containing the "release_notes" key and value, but it doesn't show up in Testflight.

[2020-03-05 21:48] rickmanelius commented on #75
Honestly, I'm at a loss how to proceed. Docs here https://docs.fastlane.tools/actions/deliver/ show a pretty straightforward request to localize as follows

[code]

However, since I believe this step is passing through via CLI and we're trying to specify the --release_notes flag directly, it's expecting this in a different format that I can't decipher from the examples. https://docs.fastlane.tools

[2020-03-10 16:37] non-binary commented on #75
Hi @rickmanelius,

Looking at https://docs.fastlane.tools/actions/deliver/#usage, https://docs.fastlane.tools/actions/deliver/#tips and https://docs.fastlane.tools/actions/deliver/#localized-metadata, I believe the localized release notes need to be in separate files based on language etc and then `fastlane deliver` should grab them automatically.

Can you try this and let me know what the outcome

[2020-03-10 16:38] non-binary commented on #75
@brandtdaniels Can you share a link to a build as previously requested but also can you provide the contents of `$CHANGELOG`. It's possible that it's a formatting/escape issue.

[2020-03-14 16:39] rickmanelius commented on #75
Hi @non-binary Thank you very much for the response. I get the file approach may be best. However, since we are trying to generate the notes at runtime (basically state the branch name and bitrise.io workflow), it's slightly more challenging to have another script to run and export those values to said file vs just use the flag presented. Still, I'll take your advice and go that route because it s

[2020-03-27 15:01] slavaGanzin opened #78 "AppId and Bundleid is not marked as required in form"
Thanks for your work!

![2020-03-27-165833_1520x400_scrot](https://user-images.githubusercontent.com/1011721/77769349-61de3780-704c-11ea-913d-f6553c55557a.png)

As you can see AppId and BundleId is noted (which is visible only if you try to enter a value) it should be filled, but there is no REQUIRED bage.

Kinda minor inconvenience

[2020-06-18 04:56] mink-ang opened #81 "fastlane deliver: Potential server error received: 'Unexpected Error'"
https://github.com/fastlane/fastlane/issues/16621

[2020-06-18 06:42] bitce commented on #81
Thanks for bringing this to our attention! Have your Bitrise builds started failing with this error? If so, could you link a build URL as an example please?

[2020-06-18 12:22] bvd-filigrade commented on #81
Same problem here. 6 hours ago I got an app through but since then all fail on this step with the same error:
https://app.bitrise.io/build/635789dfcf50856d#?tab=log

[2020-06-18 12:44] bitce commented on #81
Thanks @bvd-filigrade! We are looking into this ASAP, for the time being we recommend everyone use the Application Loader based deployment step instead.

[2020-06-22 08:58] FredTsao commented on #81
I have same issues.
https://app.bitrise.io/build/343fa66a9f45161b#?tab=log

https://github.com/fastlane/fastlane/issues/16621

[2020-06-23 05:15] ichina commented on #81
hi guys, can u upgrade the plugin with the latest pre-release of fastlane? https://github.com/fastlane/fastlane/releases

[2020-06-23 15:41] sosaucily commented on #81
I don't usually do this, but

+1

[2020-06-25 13:42] andreleon commented on #81
As a temporary fix, you can update the fastlane version to the fixed release candidate under "Debug":

![Screenshot 2020-06-25 at 15 33 05](https://user-images.githubusercontent.com/1391492/85729686-50630500-b6f9-11ea-818f-38bc51e4ff76.png)

[2020-07-02 12:44] JorisDuboisDPG commented on #81
Release is now available -> https://github.com/fastlane/fastlane/releases/tag/2.150.0

[2020-07-06 16:36] rickmanelius opened #83 "Recommendation: Change default value of itms_upload_parameters"
There seems to be some upload issues with iTunes Connect related to this parameter. Changing from the default to `-t Signiant` seems to fix this as per the discussions here https://github.com/fastlane/fastlane/issues/16749#issuecomment-654341932.

I didn't dig deep enough into the technical reasons, but all I know is all my builds were having the same issue of the following format:

[code]

[2020-07-22 08:32] d-date commented on #70
You may not understand this question but this is important for submit binary via Bitrise CI.
When not specify `submission_information` , the CI will be failed.

[code]

Please consider to add submission_information into your UI.

[2020-07-22 08:38] d-date commented on #70
Note: This is occurred when specified `submit_for_review: true`

[2020-07-23 17:22] non-binary commented on #70
Hi @d-date,

Can you please send a link to a build and enable support access?

[2020-07-27 12:01] d-date commented on #70
@non-binary I can't since remote build are now broken. I can only run build on my local and reproduce it.

[2020-07-27 18:13] non-binary commented on #70
@d-date I am confused. Is this error only happening locally? Or do your remote builds also fail?

[2020-07-28 01:34] d-date commented on #70
@non-binary I believe also in remote but I think you don't have to get my remote access since just to fix step.

If you continue to use fastlane deliver, you should follow them.

[2020-07-28 18:08] non-binary commented on #70
Hi @d-date,

Please provide a link to a build on bitrise.io so we can investigate further. This is super helpful in investigating problems rather than setting up a completely new project, trying to reproduce, etc etc. Thank you.

[2020-08-12 14:30] gabriprat commented on #70
Hi @non-binary, here's a link to a build with the problem: https://app.bitrise.io/build/ed94bd29556355fe

[2020-08-13 11:55] non-binary commented on #70
Hi @gabriprat,

Please enable support access.

[2020-08-13 14:39] gabriprat commented on #70
@non-binary done. Meanwhile I managed to fix it by adding this additional command line arguments in the debug section.
![Screenshot_20200813-163615](https://user-images.githubusercontent.com/302792/90148128-48335780-dd83-11ea-8cad-d8f815c3301f.jpg)

[2020-08-14 12:19] non-binary commented on #70
@gabriprat Great to hear! We're here to help if you need anything else.

PS to other folks, please try this as a workaround for now.

[2020-09-24 17:05] EyMaddis commented on #73
Simple to solve: `Deploy to AppStore/iTunes Connect` 😄

[2020-09-24 17:26] EyMaddis opened #84 "Step never finishes"
My (react-native) app began to no longer finish any production bitrise builds.
If the logs do not lie to me, this step does not complete.
As you can see in the logs, the step is technically done, but leads to a timeout. (09:39:26 is the last log entry, but the build was aborted at around 10:15).

The build times in the full build log only add up to around 50 minutes while the build is aborted afte

[2020-09-30 16:05] mjones-droid commented on #84
Hi @EyMaddis!

Would you mind sending me a build where this is happening? Also, please enable support access on your app so I can dig deeper.

https://devcenter.bitrise.io/troubleshooting/enabling-bitrise-support-user/

Matthew
Senior Customer Engineer

[2020-09-30 16:08] EyMaddis commented on #84
Hi @mjones-droid
Thanks for getting back. Here is a build:
https://app.bitrise.io/build/826b98d47e6d0373#?tab=log

[2020-09-30 16:29] mjones-droid commented on #84
Just to rule it out... Under the debug section of the step try switching the Fastlane Version to "latest".

[2020-10-01 14:26] rovkinmax opened #85 "Can't pass 2FA with application specific password"
I already create and add application specific password to this step. But I get error.
Full log here https://app.bitrise.io/build/1897b6874b55e2e4#?tab=log
[code]

[2020-10-01 21:13] EyMaddis commented on #84
No difference unfortunately...

[2020-10-02 19:27] mjones-droid commented on #84
Looking at your account, it looks like this issue is with a specific branch. Specifically when you compile from:
_feature/UNI-487-android-tv-with-focus-handling_.

It looks like you've never had a green build from that branch. You have however had green builds when running _/live/homeofhorror_ through the same workflow.

Can you think of any differences between the two branches that might be causi

[2020-10-05 16:24] EyMaddis commented on #84
I upgraded react-native which touched project files, but I am unsure how to debug it. It is especially weird since the Xcode archive step works.

[2020-10-05 17:12] mjones-droid commented on #84
So if I understand correctly the build that doesn't work with the workflow was upgraded to react-native 0.62, but the build that does work was not updated?

Also... Are you sure the application specific password is correct? Right now you have it set to the same thing as your AppStore Connect password...

[2020-10-06 11:27] bitce commented on #85
Hi @rovkinmax! Can you enable Support User access for us in the Settings of the app?

[2020-10-06 13:02] rovkinmax commented on #85
Hi @bitce! Done!

[2020-10-06 18:14] mjones-droid commented on #84
Hmmmm... That's interesting.

The Deploy to iTunes step uses Fastlane. Given that the only thing that's really changed is the version of React Native being used, I wonder if there's a compatibility issue with the version of Fastlane (2.152.0).

In the deploy to iTunes step, try changing the value in "fastlane version" from "latest-stable" to "latest". Let's see if that makes a difference.

[2020-10-06 20:01] EyMaddis commented on #84
I did, unfortunately no change

[2020-10-06 20:34] mjones-droid commented on #84
May I have your permission to create a debug workflow on your account? Also, I'd like to connect to your build via remote access. Be aware that this will give me access to your source code.

[2020-10-07 09:02] EyMaddis commented on #84
@mjones-droid Yes, that is ok :)

[2020-10-07 09:50] bitce commented on #85
Thanks! Strangely, the URL the build leads to be appears to fail on this step, but with an entirely different output:

[code]

This error above, I think could be fixed by running `sudo gem update` in a Script step before this one.

[2020-10-07 10:13] rovkinmax commented on #85
@bitce Sorry, you can see other build https://app.bitrise.io/build/244af220befc2a36#?tab=log
I tried set manually fastlane version in build at the topick

[2020-10-07 19:00] mjones-droid commented on #84
I was able to get past the error in this build:
https://app.bitrise.io/build/1961e49071477cb0#?tab=log

This occurred after  flipping "Skip App Version Update?" to yes. The actual upload still failed because the value in the info.plist file was not higher than the previously uploaded version.

So we've confirmed for sure that the issue causing the freeze is related to the "App Version Update". Doi

[2020-10-08 16:30] mjones-droid commented on #85
Hey @rovkinmax! Sorry you're having issues.

Please go in to your "Deploy to iTunes Connect" step. Under "Debug Options" you'll see a field for "fastlane version". Change that value from latest-stable to latest.

[2020-10-09 07:21] victormihaita commented on #85
I have the same issue.. I was using fastlane directly with Bitrise for managing all my steps and it was breaking.. I decided to switch to Bitrise Steps instead and it seems that now is also failing on this deployment step...
Could you please help with this issue? I cannot release to AppStore at all because of this. Thanks

[2020-10-09 08:07] rovkinmax commented on #85
@mjones-droid latest instead latest-stable not helps
https://app.bitrise.io/build/d53b193dc115cefe#?tab=log

[2020-10-09 08:32] victormihaita commented on #85
I think also this issue is related to this.. https://discuss.bitrise.io/t/bitrise-repeatedly-asking-2factor-authentication-on-fastlane-actions/13992/7
It is a Fastlane issue for sure..

[2020-10-09 11:57] EyMaddis commented on #84
Thank you so much, Matthew.

So I am not 100% sure what caused it, but Skip App Version Update is actually fine for. I think I just need to compare the build number in Xcode with AppStore Connect.

Thanks :)

For me personally, the issue is resolved.
I just wonder whether the build step can at least provide more info to users about what is happing.

Maybe some more log entries or a timeout could h

[2020-10-09 13:28] mjones-droid commented on #85
I think @victormihaita may be correct. @rovkinmax, please try the [suggested workaround](https://discuss.bitrise.io/t/bitrise-repeatedly-asking-2factor-authentication-on-fastlane-actions/13992/7).

We do have the "Deploy to iTunes Connect - Application Loader" step, but it only uploads the binary file. It doesn't do any of the other updates (such as version notes).

[2020-10-12 16:32] victormihaita commented on #85
@mjones-droid can you have a look at this? https://docs.fastlane.tools/app-store-connect-api/#use-return-value-and-pass-in-as-an-option
I think this is the solution for the issue

[2020-10-13 07:22] victormihaita commented on #85
I got this answer from Fastlane team: https://github.com/fastlane/fastlane/issues/17415#issuecomment-707328584

[2020-10-17 14:58] sdeff commented on #85
I'm experiencing the same issue. Are there any updates yet?

[2020-10-18 19:28] ilyakar commented on #85
Just created a new account and gave them the App Manager and Developer role for my app. This account has no 2FA enabled. Building the app on bitrise now with this account set up in the Deploy to iTunes Connect step. Let's see. Although, should work.

[2020-10-19 18:48] mjones-droid commented on #85
I know this might seem obvious so I almost hate to ask it, but I want to make sure the bases are covered.

Did you connect your iTunes Connect account to Bitrise? If so, did you use the API connection or the session based auth?

[2020-11-09 13:00] zdurlan commented on #85
I have the same issue. Did anyone manage to make it work? I cannot upload to Testflight, although the build passes without the upload-to-testflight workflow action.

[2020-11-09 14:11] victormihaita commented on #85
you need to set an api_key:
`api_key = app_store_connect_api_key(
    key_id: "xxxxx",
    issuer_id: "xxxxx"
    key_filepath: "./fastlane/AuthKey_xxx.p8"
)
`

and then you can use that key like this:
`upload_to_testflight(api_key: api_key)`

more info here: [Fastlane-app_store_connect_api_key](https://docs.fastlane.tools/actions/app_store_connect_api_key/)

[2020-11-23 20:21] knox commented on #85
It's a pitty that 2FA is still an issue! I'm pretty sure that all it takes is a _minor_ change in the existing bitrise step. It was requested in #37 in January 2018 for the first time but got closed without any solution. And there even is an pull request for it in #77 since December 2019 but nobody seems to care?

For me this works perfectly - but it can't be triggered by this bitrise step:
[code]

[2021-01-13 14:34] godrei commented on #85
Hi @rovkinmax , @victormihaita and @zdurlan could you please try the latest version of the step with `fastlane version input = latest-stable` and share the build URL, if it fails?

In the latest version ([2.18.1](https://github.com/bitrise-steplib/steps-deploy-to-itunesconnect-deliver/releases/tag/2.18.1)) we improved the logging around Apple developer connection and added validation for the conne

[2021-01-13 14:51] knox commented on #85
@godrei i know the benefit of Deliver over Application Loader and that's why i'd prefer to use it.

I think there is a missunderstanding of application specific passwords. They where ment to be a _substition_ for password + 2nd factor so one does not need to provide the actual password. But the configuration of this build step requires to provide _both_. I believe that this is wrong. And the worst

[2021-01-18 16:50] knox commented on #85
With #88 we now can forget about application specific passwords now and move on to use App Store Connect API Keys instead.

[2021-01-19 16:59] luna-kx opened #89 "Test"
This is an internal test.

[2021-01-19 17:07] csk4ta commented on #89
Test.

[2021-01-19 17:14] #89 closed

[2021-01-19 17:17] they-them opened #90 "Another test"
This is another test

[2021-01-19 18:06] #90 closed

[2021-01-20 10:38] knox commented on #78
Both App Apple ID and App Bundle ID are not required on their own. Only one of them is required at a time. This is validated during step runtime. There is no way to express this kind of requirement in a step.yml.

[2021-01-20 13:44] slavaGanzin commented on #78
@knox you just did

[2021-01-21 14:08] godrei commented on #85
I'll close this issue, but if you need more info/help just open a new issue!

[2021-01-21 14:08] #85 closed

[2021-02-01 20:12] cathyharmon commented on #78
Hello,

Thank you for bringing this to our attention.  I will see if we can document this.  I believe @knox may have been referring to marking an input variable as required or optional.  I do not think there is a way to mark them as "one required but not both".

Thanks!

[2021-02-09 10:41] godrei commented on #68
Hi @FinHorsley , sorry for the late response!

Very good point, we should mark all the exposed env vars as step outputs.

In the recent versions we changed this behavior, authentication-related env vars are not exposed anymore.
We [prepare the required env vars](https://github.com/bitrise-steplib/steps-deploy-to-itunesconnect-deliver/blob/2.20.1/main.go#L397) and [expose them only for the Fastlane

[2021-02-09 10:41] #68 closed

[2021-02-19 13:12] EyMaddis commented on #84
So the problem seems to be back. This time it happens randomly. I have to same codebase and bitrise.yml for 3 apps and in the last few days some of them fail. Skip App Version Update is set and the version numbers match.

I actually think that Apple is taking so long... the mail from the app store came around 2h after the start of the build.
My guess is: AppStoreConnect is taking too long and "Ski

[2021-02-23 18:38] mjones-droid commented on #84
Hey @EyMaddis!

To my knowledge the step does not use change logs. If you send me a recent failing build and [enable support access](https://devcenter.bitrise.io/troubleshooting/enabling-bitrise-support-user/) I'd be happy to take another look.

Matthew
Senior Customer Engineer

[2021-03-03 21:39] dmiluski opened #103 "Unable to deploy with Apple API Key"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? _1.2.3_
- Is the issue reproducible with the latest version? _YES / NO_
- Does the issue happen sporadically, or every time? _SPORADIC / EVERY TIME_
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitr

[2021-03-05 15:30] thinguyenbit commented on #103
Hello!

It looks like you are trying to use the step input variables in this build, can you please set the Bitrise connection to "off", having "api_key" would be using the profile under the "TEAM" tab.

Thi

[2021-03-05 17:57] dmiluski commented on #103
Thanks @thinguyenbit , I'll give that a shot.

I realize I may be in a funny team/group setup. In my (perhaps special case), we share the same umbrella GitHub/Bitrise Account owner, but still operate with different AppStore teams. Will give this a try.

[2021-03-23 03:51] j796160836 commented on #103
I have the similar issue too, but I encounter timeout with API key.

- Which version of the step is effected? 2.21.0
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our local debug guide? NOT APPLICABLE

I have set the `API key authentication` in the `Team` tab,
`Apple ID authe

[2021-04-20 07:27] lpusok commented on #83
Hello @rickmanelius,
Changed the default value of the ITMS transport parameter to blank recommended by Apple and Fastlane (https://github.com/fastlane/fastlane/pull/16774/files). Released in https://github.com/bitrise-steplib/steps-deploy-to-itunesconnect-deliver/releases/tag/2.21.1.

[2021-04-20 07:27] #83 closed

[2021-04-20 11:00] amadeu01 opened #107 "Unable to deploy the spa"
### Issue description

Getting error on iTunes Transporter
[code]

### Bitrise info

[code]

### Steps to reproduce

1. try to deploy to itunes

[2021-04-20 11:02] lpusok commented on #107
@amadeu01 Can you confirm that you are using the latest version of the step, which has the ITMS transporter flag set to blank, or manually remove ` -t DAV` from the Step input.

[2021-04-20 14:38] amadeu01 commented on #107
I added the flag in blank and it worked. Thanks

[2021-04-20 14:38] #107 closed

[2021-04-24 08:24] #81 closed

[2021-04-24 08:24] #75 closed

[2021-04-24 08:24] #70 closed

[2021-04-24 08:24] #65 closed

[2021-04-24 08:24] #59 closed

[2021-04-24 08:24] #43 closed

[2021-04-24 08:24] #41 closed

[2021-05-24 08:24] #78 closed

[2021-06-16 08:19] #84 closed

[2021-07-13 08:19] #103 closed

[2022-03-24 11:54] MajkellVZ opened #120 "Issue with input: no IpaPath nor PkgPath parameter specified"
refers to #57.
having the same issue. is not fruitful to close an issue if the solution is provided privately when they are customers that might face it.

[2022-03-24 12:16] lpusok commented on #120
Hello @MajkellVZ,
The `$BITRISE_IPA_PATH` variable will be set by the _xcode-archive_ Step when it runs (check that it is included in your workflow).
You can read more about the Step configuration in devcenter or the Step Description (available in the Workflow Editor):
https://devcenter.bitrise.io/en/deploying/ios-deployment/deploying-an-ios-app-to-app-store-connect.html#deploying-the-app-to-app-s

[2022-03-24 12:24] MajkellVZ commented on #120
already had that one but apparently needed to be put above Deploy to App Store Connect with Deliver (formerly iTunes Connect). Now getting another error "issue with input: failed to parse certificate URL and passphrase inputs: code signing certificate URL: required input is not present"

[2022-06-08 09:40] NeilJaphtha opened #121 "Deploy to AppStore and Submit for Review no longer works as described"
### Issue description
When the flag _"Submit for Review?"_ is set to `true` within the _"Deploy to App Store Connect with Deliver (formerly iTunes Connect)"_ step, the app is not submitted for review.

### Steps to reproduce
- Have a live app in the AppStore, in which you can use this step for Bitrise
- Use this step with the _"Submit for Review?"_ is set to `true`
- Observe the state on AppStoreC

[2022-09-15 11:21] Oupsla opened #123 "Xcode 14 stack"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 4.6.0
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting

[2022-09-15 16:49] airdrummingfool commented on #123
I believe this was just fixed by Fastlane in [2.210.0](https://github.com/fastlane/fastlane/releases/tag/2.210.0) via https://github.com/fastlane/fastlane/pull/20631 . Ref https://github.com/fastlane/fastlane/issues/20371

[2022-09-19 09:00] Oupsla commented on #123
Resolved on our side too 😄

[2022-09-19 09:00] #123 closed

[2022-09-28 08:08] #121 closed

[2022-10-19 17:08] SidiBecker opened #125 "High occurrences of "Transporter transfer failed.""
### Troubleshooting

- [X] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 2.21
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? SPORADIC
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting/de

[2022-10-19 23:06] k-thorat commented on #125
We are seeing this as well. Does this #126 fixes the issue?

[2022-10-20 11:19] mateusz1913 commented on #125
👋 I also encountered this issue and I can confirm that after pointing to the #126 PR branch, the build was successfully submitted to App Store Connect

[code]

[2022-10-20 13:49] SidiBecker commented on #125
I'm successfully submitting apps with changes [#123](https://github.com/bitrise-steplib/steps-deploy-to-itunesconnect-deliver/pull/126) too

[2022-10-21 15:31] ludwig-pro commented on #125
Same issue for us, I will try the fix #126 monday, thanks @mateusz1913

[2022-10-24 12:29] SidiBecker commented on #125
The version [2.21.5](https://github.com/bitrise-steplib/steps-deploy-to-itunesconnect-deliver/releases/tag/2.21.5) just release.
I'll test it today and close this issue if all works.

[2022-10-24 12:29] lpusok commented on #125
Released new version 2.21.5 with fix included.

@k-thorat, @mateusz1913, @SidiBecker, @arnoldc, @siddheshbhasme, @rpadilla6, @lisamartin00, @Cameronese11, @mendozamiche, @LucasClaude, @pretorh and @ludwig-pro: [CTA]
Please remove usages `git::https://github.com/bitrise-steplib/steps-deploy-to-itunesconnect-deliver.git@SWAT-788-itms3-fix:` of as it the branch will be deleted. Use just `deploy-to-it

[2022-10-24 12:32] SidiBecker commented on #125
@lpusok Is already available in bitrise? There the last version still is 2.21.4

[2022-10-24 12:56] lpusok commented on #125
@SidiBecker not yet, should be available shortly. Used a manual trigger as the automation did not finish.

[2022-10-24 13:25] SidiBecker commented on #125
Available now.

[2022-10-24 16:16] ludwig-pro commented on #125
I'm testing this now thanks

[2022-10-24 16:28] ludwig-pro commented on #125
don't work for us :/

[code]

[2022-10-24 16:44] SidiBecker commented on #125
Archive on 4.7.0 and last version deploy works fine for me. The 4.6.0 version has some updates of authentication and signing. Could you try updating the archive step?

[2022-10-25 03:32] arnoldc commented on #125
can confirm its working also in my end using
Xcode Archive (4.7) + App Store Connect with Deliver  (2.21.5)
thank you

[2022-10-25 07:44] lpusok commented on #125
@ludwig-pro can you share a build URL please?

[2022-10-25 08:06] ludwig-pro commented on #125
@lpusok https://app.bitrise.io/build/4a7f15cb-bdfe-448e-894f-38bb84b81269

thanks for the support
I will also upgrade Xcode archive 4.7

[2022-10-25 08:29] ludwig-pro commented on #125
I retry the build with App Store Connect with Deliver `2.21.6`

[2022-10-25 09:00] ludwig-pro commented on #125
Fixed with App Store Connect with Deliver `2.21.6` 🚀

[2022-10-25 11:17] SidiBecker commented on #125
Closing this issue. Thank you all 🚀

[2022-10-25 11:17] #125 closed